BasedOnStyle: WebKit
AllowShortCaseLabelsOnASingleLine: true
AllowShortIfStatementsOnASingleLine: true
AllowShortLoopsOnASingleLine: true
BraceWrapping:
  AfterClass: true
  AfterFunction: true
  AfterStruct: true
  SplitEmptyRecord: false
BreakBeforeBinaryOperators: NonAssignment
BreakBeforeBraces: Custom
BreakConstructorInitializers: BeforeColon
Cpp11BracedListStyle: true
DerivePointerAlignment: false
MaxEmptyLinesToKeep: 2
PointerAlignment: Middle
SortIncludes: false
SpaceAfterCStyleCast: true
SpaceBeforeCpp11BracedList: false

